* text=auto eol=lf

*.css diff=css
*.html diff=html
*.md diff=markdown
*.py diff=python
*.jsx diff=javascript
*.js diff=javascript

/.github export-ignore
CHANGELOG.md export-ignore

# Env files must be LF on Linux hosts
.env text eol=lf
.env.* text eol=lf
production.env text eol=lf
*.env text eol=lf

